body{
    margin: 0;
    padding: 0;
}

.content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 40vw;
    height: 40vw;
    display: flex;
    flex-wrap: wrap;
}

.container .grid{
    box-sizing: border-box;
    border: 1px solid black;
    height: 6.25%;
    width: 6.25%;
    background-color:rgb(206, 218, 218);
}

.hover{
    background-color: black;
}